.contact-title{
		margin-top:50px;
		text-align: center;
	}
.carousel-item{
	margin-top: 65px;
	background-color: black !important;
}
.signUp{
	color: white
}
.slide-image{
height: 500px;
}



@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
