.contact-title{
		margin-top:50px;
		text-align: center;
	}

.carousel-caption{
	color: green !important;

}

.slide-image{
	height: 600px;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
